/* CSS for fonts and padding. N.B. Also need google font link in the head of each page to ensure that the correct font is used */

/* Styling for Home page elements */

.top-section {
  padding: 75px;
  text-align: center;
  background: #97DECE;
  color: rgb(21, 18, 18);
  font-size: 25px;
  
}

.xlarge-font  {
  font-size: 3rem;
}

.text-typing {
             
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.text-typing {
  padding: 20px 30px;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 20px;
}
.text-typing p {
  margin: 0px;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 5.5s steps(40, end),
blink-caret .75s step-end infinite
}
@keyframes typing {
  0% { width:0% }
  100% { width:100% }
}
@keyframes blink {
  0%,100% {
    border-right:2px solid transparent;
  }
  50% {
    border-right:2px solid #222;
  }
}

/* Used throughout */
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #EAFDFC;
}
/* for navbar, move it here just for better adjust colour palette */
.navbar {
  background-color: #62B6B7;
}

.footer {
  background-color: rgb(98, 182, 183, 0.2);
}


h1 {
  font-family: 'Poppins', sans-serif;
}

main > .container {
    padding: 60px 15px 0;
  }

.btn-primary {
  margin: 0.1rem;
  background-color: #6096B4;
  border-color: #6096B4;

};

/* primary button hover, please make sure this two part both exist */
.btn-primary.active:hover{
  color: #A0C3D2;
  background-color: #A0C3D2;
  border-color: #A0C3D2;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    background-color: #A0C3D2 !important;
    border-color: #A0C3D2 !important;
}



/* Styling for icons on pages */
.icon_img {
  /* max-width: 10; */
  align-items: center;
  height: auto;
  padding: 1%;
}

/* Hover effect for Learn cards - do we want to keep? */
.learnCard {
  transition: 0.3s;
}
.learnCard:hover {
    transform: scale(1.1);
  }

/* For diff colour card headers */
.HTML {
  background-color: #FDEBED;
}

.CSS {
  background-color: antiquewhite;
}

.JavaScript {
  background-color: #FFCEFE;
}

.Python {
  background-color: #D9ACF5;
}

.Java {
  background-color: #AAE3E2;
}

.Basics {
  background-color: #FFF6BD;
}

  /* For chatbot */
.chatbot {
  width: 10rem;
}



/*for volunteer*/
#selection_card {    
  box-shadow: none;
  background-color: transparent;
  border-color: transparent;
}

#selection_card_subtitle {
  padding-top: 20px;
  padding-bottom: 15px;
  text-align: justify;
}

#card_group {
  padding-top: 10px;
  padding-bottom: 100px;
}

#result_id_div {    
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

#result_title {
  text-align:center;
  padding-top: 10px;
  padding-bottom: 15px;
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 5rem;
  border-bottom: 5px solid #000;
  display: inline-block;    
}

.card-img-top {
  height: 260px; /* adjust this value as needed */
}

/* for navbar */


.navbar-img {
  height: 22px;
}

/*for contact us*/
#contact_us_container {
  padding-bottom: 50px;
}

#div-contact {
  height:100%; 
  width:100%;
}

#img-contact {
  height:100%; 
  width:100%;
  object-fit:cover;
}

/* Code for dropdowns(?) - is it all needed? */
.dropdown-menu {
    margin: 4rem auto;
  }
  
  .dropdown-item-danger {
    color: var(--bs-red);
  }
  .dropdown-item-danger:hover,
  .dropdown-item-danger:focus {
    color: #fff;
    background-color: var(--bs-red);
  }
  .dropdown-item-danger.active {
    background-color: var(--bs-red);
  }
  
  /* .btn-hover-light {
    background-color: var(--bs-white);
  }
  .btn-hover-light:hover,
  .btn-hover-light:focus {
    color: var(--bs-white);
    background-color: var(--bs-white);
  } */
    
  .form-control-dark {
    background-color: rgba(255, 255, 255, .05);
    border-color: rgba(255, 255, 255, .15);
  }
  
  .w-220px {
    width: 220px;
  }
  
  .w-280px {
    width: 280px;
  }
  
  .w-340px {
    width: 340px;
  }
  
  .w-600px {
    width: 600px;
  }

  