/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .container {
    padding: 60px 15px 0;
  }

  /* code for image at the top of cards (this is .card-img-top1, as otherwise the changes to the .card-img-top beneath also apply to this page) */
  .card-img-top1 {
    height: 40px; /* adjust this value as needed */
  }

/* Code for dropdowns - is it all needed? */
.dropdown-menu {
    margin: 4rem auto;
  }
  
  .dropdown-item-danger {
    color: var(--bs-red);
  }
  .dropdown-item-danger:hover,
  .dropdown-item-danger:focus {
    color: #fff;
    background-color: var(--bs-red);
  }
  .dropdown-item-danger.active {
    background-color: var(--bs-red);
  }
  
  .btn-hover-light {
    background-color: var(--bs-white);
  }
  .btn-hover-light:hover,
  .btn-hover-light:focus {
    color: var(--bs-blue);
    background-color: var(--bs-light);
  }
  
  .cal-month,
  .cal-days,
  .cal-weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
  }
  .cal-month-name {
    grid-column-start: 2;
    grid-column-end: 7;
    text-align: center;
  }
  .cal-weekday,
  .cal-btn {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    height: 3rem;
    padding: 0;
  }
  .cal-btn:not([disabled]) {
    font-weight: 500;
  }
  .cal-btn:hover,
  .cal-btn:focus {
    background-color: rgba(0, 0, 0, .05);
  }
  .cal-btn[disabled] {
    border: 0;
    opacity: .5;
  }
  
  .form-control-dark {
    background-color: rgba(255, 255, 255, .05);
    border-color: rgba(255, 255, 255, .15);
  }
  
  
  .w-220px {
    width: 220px;
  }
  
  .w-280px {
    width: 280px;
  }
  
  .w-340px {
    width: 340px;
  }
  
  .w-600px {
    width: 600px;
  }

  /*for volunteer*/
  #selection_card {    
    box-shadow: none;
    background-color: transparent;
    border-color: transparent;
  }

  #selection_card_subtitle {
    padding-top: 20px;
    padding-bottom: 15px;
    text-align: justify;
  }

  #card_group {
    padding-top: 10px;
    padding-bottom: 100px;
  }

  #result_id_div {    
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
  }

  #result_title {
    text-align:center;
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 5rem;
    border-bottom: 5px solid #000;
    display: inline-block;    
  }

  .card-img-top {
    height: 260px; /* adjust this value as needed */
  }